*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
#header{
    height: 100vh;
    background-image: url('../images/pizza-4319999_1920.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
header nav{
    display: flex;
    flex: 1 1 600px;
    justify-content: flex-end;
    margin-right: 40px;
    align-items: center;
}
header nav a{
    padding: 10px 20px;
    text-decoration: none;
    color: white;
}
.head .navbar a{
    color: red;
    font-size: 1.6rem;
    font-weight: 600;
    margin: 0.2rem;
}
.head .navbar a:hover{
    color: aqua;
    transition: .4s ease;
}
.main{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
}
.main h1{
    font-size: 4em;
    color: yellow;
    padding-bottom: 50px;
}
.main h3{
    font-size: 3em;
    color: aqua;
    padding-bottom: 30px;
    font-weight: 400;
}
.main p{
    color: red;
    font-weight: 100;
}
.button{
    width: 250px;
    padding: 20px 15px;
    border: 2px solid green;
    border-radius: 5px;
    margin-top: 40px;
    color: green;
    text-decoration: none;
}
.button:hover{
    background-color: red;
    border-color: red;
    transform: rotate(10deg);
    transition: all 0.3s ease-in-out;
}
.about-sec{
    display: grid;
    grid-template-columns: 1.2fr 1.2fr;
}
.img img{
    width: 45rem;
    height: auto;
    text-align: center;
    animation: icon 4s ease infinite;
}
.about-content{
    background-size: cover;
    background-position: center;
    color: black;
}
.about .btn{
    border: .1rem solid red;
}
.about-content p{
    padding-bottom: 2rem;
    color: black;
    font-size: 1.4rem;
    font-weight: 600;
}
.about-inner h5{
    padding: 1rem 0;
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: 700;
}
.about-inner .fas{
    color: red;
    padding-right: 1rem;
}
.about-inner h5:hover{
    transform: translateX(2rem);
    transition: 1s ease;
}
.service-content{
    padding: 1rem 0;
    display: grid;
    grid-template-columns: 1.2fr 1.2fr 1.2fr;
}
.inner-box{
    padding: 3rem 2rem;
    text-align: center;
    border: .1rem solid black;
    background: white;
}
.inner-box:hover{
    background: red;
    transition: .5s ease all;
}
