*{
    margin: 0;
    padding: 0;
}
#header{
    height: 100vh;
    background-image: url('../images/pizza-4319999_1920.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}