*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
#header{
    height: 100vh;
    background-image: url('../images/pizza-4319999_1920.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
header nav{
    display: flex;
    flex: 1 1 600px;
    justify-content: flex-end;
    margin-right: 40px;
    align-items: center;
}
header nav a{
    padding: 10px 20px;
    text-decoration: none;
    color: white;
}
.head .navbar a{
    color: red;
    font-size: 1.6rem;
    font-weight: 600;
    margin: 0.2rem;
}
.head .navbar a:hover{
    color: aqua;
    transition: .4s ease;
}
.main{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
}
.main h1{
    font-size: 4em;
    color: yellow;
    padding-bottom: 50px;
}
.main h3{
    font-size: 3em;
    color: aqua;
    padding-bottom: 30px;
    font-weight: 400;
}
.main p{
    color: red;
    font-weight: 100;
}
.button{
    width: 250px;
    padding: 20px 15px;
    border: 2px solid green;
    border-radius: 5px;
    margin-top: 40px;
    color: green;
    text-decoration: none;
}
.button:hover{
    background-color: red;
    border-color: red;
    transform: rotate(10deg);
    transition: all 0.3s ease-in-out;
}
.about-sec{
    display: grid;
    grid-template-columns: 1.2fr 1.2fr;
}
.img img{
    width: 45rem;
    height: auto;
    text-align: center;
    animation: icon 4s ease infinite;
}
.about-content{
    background-size: cover;
    background-position: center;
    color: black;
}
.about .btn{
    border: .1rem solid red;
}
.about-content p{
    padding-bottom: 2rem;
    color: black;
    font-size: 1.4rem;
    font-weight: 600;
}
.about-inner h5{
    padding: 1rem 0;
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: 700;
}
.about-inner .fas{
    color: red;
    padding-right: 1rem;
}
.about-inner h5:hover{
    transform: translateX(2rem);
    transition: 1s ease;
}
.gallery-content{
    padding: 1rem 0;
    display: grid;
    grid-template-columns: 1.2fr 1.2fr 1.2fr;
    
}
.inner-box{
    padding: 3rem 2rem;
    text-align: center;
    border: .1rem solid black;
    background: rgba(0, 0, 0, .6);
}
.inner-box:hover{
    background: yellow;
    transition: .5s ease all;
}
.inner-box img{
    width: 15rem;
    height: 15rem;
}
.inner-box h2{
    padding: 2rem 0;
    font-size: 2rem;
    letter-spacing: .1rem;
    text-transform: capitalize;
}
.inner-box p{
    font-size: 1.3rem;
    color: black;
}
.btn{
    margin: 10px;
    padding: 20px;
    border-radius: 20%;
    font-size: 20px;
    background-color: lightcoral;
}
.form{
    background-color: #f2f2f2;
    padding: 5% 15% 5% 15%;
    background-color: rgba(0, 0, 0, .4);
}
#order{
    background: url(../images/pizza-boxes-358029_1920.jpg);
    overflow: hidden;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10% 20% 10% 20%;
    border-radius: 4vw;
}
.order-summary{
    background-color: #f2f2f2;
    padding-bottom: 2%;
}
.order-summary .make, .order-summary .pick{
    color: #fff;
    background-color: lightseagreen;
    border: none;
    box-shadow: none;
    padding: 1% 1% 1% 1%;
    border-radius: 3vw;
}
.delivery{
    background-color: lightgrey;
    padding: 2% 2% 2% 2%;
    width: 50%;
    margin-left: 20%;
    border-radius: 3vw;
}
.delivery input{
    border: none;
}
.contact{
    padding-top: 3rem;
}
.contact-sec{
    width: 100%;
}
.contact-inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.contact-inner-col{
    margin: 2rem;
    flex: 1 1 20rem;
    text-align: center;
}
.contact-inner-col img{
    width: 100%;
    height: 100vh;
    margin: 1.5rem;
    padding: 1rem;
}
.contact-inner-col h1{
    padding: 1rem 0;
    color: red;
    font-size: 3rem;
    letter-spacing: .1rem;
    text-transform: capitalize;
}
.contact-inner-col p{
    padding: .5rem 0;
    line-height: 1.5rem;
    font-size: 1.5rem;
    text-transform: capitalize;
    color-interpolation-filters: linearRGB;
}
.contact-inner-col input,
.contact-inner-col textarea{
    width: 80%;
    padding: 1rem;
    margin-bottom: 1.2rem;
    border: none;
    border-bottom: .3rem solid grey;
}
textarea{
    resize: none;
}
.map{
    border: 1rem solid black;
}
.copyright{
    display: flex;
    margin-top: 5rem;
    padding: 3rem;
    text-align: center;
    justify-content: space-between;
    background: grey;
}
.copyright i{
    font-size: 2rem;
    color: white;
}
.copyright p{
    letter-spacing: .1rem;
    font-size: 1.5rem;
    color: white;
}
.social i{
    padding: 1rem;
    background: red;
    color: white;
    font-size: 1.5rem;
}
.social i:hover{
    transform: translateY(-2rem);
    color: white;
    cursor: pointer;
    transition: .5s ease;
}